# Ignore all files in these dirs:
/backups/
/cache/
/lib/
/local/
lock
/log/
/mail/
/opt/
run
/spool/
/tmp/
*.json
vendor
*.lock
node_modules
/plugins/classes/passwords.php
plugins/api/kroger
plugins/api/kroger/kroger.php
plugins/api/kroger/test.php
