#banner {
    /*Original Style
    height: 405px;
    background-color: lightgray;
    justify-content: center;*/

    background: linear-gradient(to right, rgba(127,127,127,1) 0%, rgba(127,127,127,.9) 25%, rgba(127,127,127,0) 50%), url("../assets/photos/groceries.jpg") center center fixed;
    background-size: cover;
    height: 75vh;
}